bottle==0.12.19
certifi==2020.12.5
chardet==4.0.0
cheroot==8.5.2
click==7.1.2
gunicorn==20.1.0
idna==2.10
itsdangerous==1.1.0
jaraco.classes==3.2.1
jaraco.collections==3.3.0
jaraco.functools==3.3.0
jaraco.text==3.5.0
Jinja2==2.11.3
MarkupSafe==1.1.1
more-itertools==8.7.0
numpy==1.20.3
pandas==1.2.4
portend==2.7.1
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
six==1.16.0
tempora==4.0.2
urllib3==1.26.4
Werkzeug==1.0.1
zc.lockfile==2.0
